.assembly {
    &-top{
        width: 100%;
        height: 160px;
        background: #F3F8FE;
        &>section{
            margin: 0 auto ;
            width: 752px;
        }
    }
    &-tabs{
        .ivu-tabs-bar{
            border-color: transparent;
        }
    }
    &-title {
        font-size: 32px;
        color: #17233D;
        line-height: 32px;
        padding: 52px 0 35px;
    }
}
