.assembly {
    position: relative;
    height: 100%;
    padding-top: 114px;
    &-bg{
        width: 100%;
        height: 151px;
        background: #F3F8FE;
        position: absolute;
        top:0;
    }
    &-tabs{
        padding-left: 56px;
        .ivu-tabs-bar{
            border-color: transparent;
        }
    }
    &-title {
        //font-family: HelveticaNeue;
        font-size: 32px;
        color: #17233D;
        line-height: 32px;
        position: absolute;
        top:53px;
        left:56px;
        z-index: 1;
    }
    &-operation{
        position: absolute;
        right: 20px;
        z-index: 2;
    }
}
